@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all ease 0.25s;
}

html {  scroll-behavior: smooth;}